.search {
    width: 100%;
  }
  
  .search-box {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 38px 16px;
  }
  
  .search-fields {
    display: flex;
    gap: 16px;
    
  }
  
  .origin-location, 
  .destination-location {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    border: solid 4px #AECACD ;
    border-radius: 4px;

  }
  
  .origin-location:hover, 
  .destination-location:hover {
    background-color: #f5f5f5;
  }
  
  .origin-location {
    border-right: 1px solid #eee; 
  }
  
  .origin-icon, 
  .destination-icon {
    
    margin-right: 12px;
    font-size: 20px;
  }
  
  .origin-icon {
    color: #4285f4;
  }
  
  .destination-icon {
    color: #ea4335;
  }
  
  span {
    display: flex;
    align-items: center;
  }
  
  /* Media query for mobile screens */
  @media screen and (max-width: 768px) {
    .search-fields {
      flex-direction: column;
      gap: 8px;
    }
  
    .origin-location {
      border-right: none;
      border-bottom: 1px solid #eee;
    }
  
    .search-box {
      font-size: 14px;
      padding: 4px 8px;
    }
  
    .origin-location, 
    .destination-location {
      padding: 6px;
    }
  
    .origin-icon, 
    .destination-icon {
      font-size: 16px;
      margin-right: 8px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .search-box {
      padding: 4px;
    }
  
    .origin-location, 
    .destination-location {
      padding: 4px;
    }
  
    .origin-icon, 
    .destination-icon {
      font-size: 14px;
      margin-right: 6px;
    }
  }