html, body {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(90deg, hsl(0, 72%, 51%) 0%, hsl(0, 70%, 35%) 70%);
  padding: 1.5rem;
}

.header-container {
  max-width: 32rem;
  margin: 0 auto 0 auto;
}

h1 {
  color: white;
  font-weight: 700 !important;
  font-size: 3.75rem !important;
  line-height: 1;
  margin-bottom: 1.5rem !important;
}

header form, input {
  border-radius: 0.8rem;
}

header form {
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
}

input {
  padding: 0.5rem;
}

input[type="submit"] {
  background: hsl(0, 70%, 35%);
  color: white;
}

input:focus {
  outline: 0.15rem solid black;
  outline-offset: 0.2rem;
  border-radius: 0.2rem;
  border: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}